In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 =pd.read_csv("cereal.csv")
df1.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [3]:
from sklearn.model_selection import train_test_split

In [9]:
x = df1[["sugars","carbo"]]
y =  df1.calories
x_train, x_test, y_train,y_test = train_test_split(x,y)

In [10]:
x_test

    sugars  carbo
60       6   15.0
10      12   12.0
7        8   18.0
32       5   15.0
62       3   22.0
27      10   12.0
31       9   15.0
48       9   15.0
66      15    9.0
72       3   21.0
63       0   16.0
49       7   21.0
54       0   13.0
46      13   17.0
73      12   13.0
42      12   12.0
28      12   14.0
34       4   13.0
50       2   18.0
3        0    8.0

In [11]:
y_test

60     90
10    120
7     130
32    100
62    110
27    120
31    110
48    120
66    110
72    110
63     80
49    140
54     50
46    160
73    110
42    110
28    120
34    120
50     90
3      50
Name: calories, dtype: int64

In [ ]:
再练习一次
from sklearn.model_selection import train_test_split